#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MicroLauncher
Exec=microlauncher
Icon=io.github.lassebq.microlauncher
Terminal=false
Type=Application
Categories=Game;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=microlauncher
